/* ======================== GENERAL ============================= */
::selection {
    color: white;
    background-color: black;
}

* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    font-family: "Open Sans", sans-serif;
    --off-white: rgb(243, 247, 247);
    --light-pink: rgb(255,182,193);           
    --grey: rgb(67, 84, 93);
    --green: rgb(0, 153, 51);

    --input-icon-padding: 5px;
}

body {
    height: 100%;
    overflow: hidden;
    background-color: var(--off-white);
}

a {
    text-decoration: none;
    color: var(--grey);
    opacity: 0.8;
}

a:hover {
    opacity: 1;             /* darken */
}

button {
    outline: none;
}

/* =========================== PAGE LAYOUT ========================= */
body {
    display: grid;
    grid-template-areas: 
        'header header header header header header'
        'sidebar sidebar main main empty empty'
        'sidebar sidebar main main empty empty'
        'sidebar sidebar main main empty empty'
        'footer footer footer footer footer footer';
    grid-gap: 10px;
    grid-template-rows: auto repeat(3, 1fr) auto;
    grid-auto-columns: calc((100% - 5*10px)/ 6);          /* 6 columns (removing 10px each for column padding) */
}

header {
    grid-area: header;
}

aside[role="sidebar"] {
    grid-area: sidebar;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

.empty {
    grid-area: empty;
}
/* ============================ HEADER ============================== */
header {
    text-align: center;
}

.logo {
    display: block;
    margin: auto;
}

header h2 {
    font-style: italic;
}

/* ============================= LOGIN FORM ======================================= */
.login {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
}

.login h1 {
    text-align: center;
}

.custom-input {
    width: 100%;
    margin: 10px 0;
}

.custom-input input {
    width: 100%;
    padding: 5px var(--input-icon-padding);
}

.hover-button {
    padding: 2%;
    width: 100px;
    background-color: var(--green);
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    margin-left: auto;                  /* push button to right */
}

.hover-button:hover {
    background-color: white;
    color: var(--green);
}

/* ============================= SIDE BAR ========================================== */
aside {
    display: flex;
    flex-direction: column;
    padding: 0 5%;
}

aside a {
    display: block; 
    margin: 2% 0;
}

/* ============================= FOOTER ============================================= */
footer {
    display: inline-flex;
    flex-direction: row;
    color: var(--grey);
    justify-content: space-around;
    font-size: 0.7rem;
    border-top: 2px solid #333333;
    margin: 1% 0;
}