/* All styles made for mobile first, with special instructions for tablets and phones */

/* ======================== GENERAL ============================= */
::selection {
    color: white;
    background-color: black;
}

* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    font-family: "Open Sans", sans-serif;
    --off-white: rgb(243, 247, 247);
    --light-pink: rgb(255,182,193);           
    --grey: rgb(67, 84, 93);
    --green: rgb(0, 153, 51);

    --input-icon-padding: 10px;
    --input-placeholder-color: rgb(117,117,117);
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--off-white);
    overflow-x: hidden;             /* to fix footer width overflowing */
}

a {
    text-decoration: none;
    color: var(--grey);
    opacity: 0.8;
}

a:hover {
    opacity: 1;             /* darken */
}

/* =========================== NOSCRIPT =========================== */
noscript {              /* only displays if javascript is disabled */
    display: block;
    width: 100%;
    font-size: small;
    text-align: center;
    color: var(--grey);
    border-bottom: 1px solid var(--grey);
    margin-bottom: 10px;
}

/* =========================== PAGE LAYOUT ========================= */
.content {
    flex: 1;
    width: 100%;
    display: grid;
    grid-template-areas: 
        'header header header header header header'
        'sidebar sidebar main main main main'
        'sidebar sidebar main main main main'
        'sidebar sidebar main main main main'
        'footer footer footer footer footer footer';
    --grid-gap: 2px;
    grid-gap: var(--grid-gap);
    grid-template-rows: auto repeat(3, 1fr) auto;
    grid-auto-columns: calc((100% - 5 * var(--grid-gap)) / 6);  /* 6 columns (removing 10px each for column padding) */
}

header {
    grid-area: header;
}

aside[role="sidebar"] {
    grid-area: sidebar;
}

main {
    grid-area: main;
}

.footer-wrapper {
    grid-area: footer;
}

.empty {
    grid-area: empty;
}

/* ============================ HEADER ============================== */
header {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.logo {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 600px;
}

header h1 {
    font-family: "Arial Black", helvectiva, sans-serif;
    font-size: 2.5em;
}

header h2 {
    font-style: italic;
    color: var(--grey);
}

/* ============================= LOGIN FORM ======================================= */
.login {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
}

.login h1 {
    font-family: cambria, sans-serif;
    text-align: center;
    color: darkred;
}

.custom-input {
    width: 100%;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 2px solid var(--input-placeholder-color);
    padding: 5px 0;
    background-color: var(--off-white);
}

.custom-input .fas {
    flex: 0;
    margin: 0 var(--input-icon-padding);
    color: var(--input-placeholder-color);
}

.custom-input input {
    font-family: "Times New Roman", sans-serif;
    font-size: 1.1em;
    flex: 1;
    border: none;
    outline: none;
}

.hover-button {
    padding: 2%;
    width: 150px;
    background-color: var(--green);
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    border: 2px solid var(--green);
    border-radius: 5px;
    outline: none;
    margin-left: auto;                  /* push button to right */
}

.hover-button:hover, .hover-button:active {
    background-color: white;
    color: var(--green);
    cursor: pointer;
}

.hover-button:active {
    box-shadow: 2px 2px 2px;
}

/* ============================= SIDE BAR ========================================== */
aside {
    display: flex;
    flex-direction: column;
    padding: 0 5%;
}

aside a {
    display: block; 
    margin: 5% 0;
}

.selected-link {
    opacity: 1;
}

/* ============================= FOOTER ============================================= */
.footer-wrapper {
    flex: 0;
    display: flex;
    width: 100%;
    border-top: 2px solid #333333;
    margin: auto 0 0 0;
}

footer {
    width: minmax(450px, 100%);
    display: inline-flex;
    flex-direction: column;
    color: var(--grey);
    justify-content: space-around;
    font-size: 0.7rem;
    margin: 0 auto;
}

/* tablets and laptops */
@media only screen and (min-width: 600px) {
    .content {
        grid-template-areas: 
            'header header header header header header'
            'sidebar sidebar main main main empty'
            'sidebar sidebar main main main empty'
            'sidebar sidebar main main main empty'
            'footer footer footer footer footer footer';
        grid-gap: 5px;
    }
}

/* laptops */
@media only screen and (min-width: 768px) {
    .content {
        grid-template-areas: 
            'header header header header header header'
            'sidebar sidebar main main empty empty'
            'sidebar sidebar main main empty empty'
            'sidebar sidebar main main empty empty'
            'footer footer footer footer footer footer';
        grid-gap: 10px;
    }

    footer {
        flex-direction: row;
        width: 100%;
    }
}